* {
    margin: 0px;
    padding: 0px;
    font-family: Poppins, san sanserif; 
    box-sizing: border-box;
}
body {
    margin-top: 150px;
    background-color: #FBFAF5;
}



header {
    background-color: white;
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 1);
    margin: 0;
    padding: .3rem 0;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.main-heading {
    color: rgb(9, 74, 128);
    text-align: center;
    margin: 0 0 1rem 0;
    text-transform: uppercase;
    text-shadow: 
    1px 2px 0px #4884a9;
}

a {
    text-decoration: none;
}

p {
    text-align: center;
    letter-spacing: .5px;
    font-size: 1rem;
}


.main-intro-container {
    display: flex;
   flex-direction: row;
   justify-content: space-between;
    max-width: 1400px;
    margin: auto;
    padding: 2rem;
}
.main-intro-photo {
    display: flex;
    flex-shrink: 2;
    align-self: center;
    width: 96%;
    max-width: 600px;
    border-radius: 0.3215rem 0.3215rem 0.3215rem 0.3215rem;
    height: 100%;
    box-shadow: 10px 10px #094a80;
 }

 #nice-home {
    width: 100%;
    border-radius: 0.3215rem 0.3125rem 0.3215rem 0.3125rem;

 }


.main-intro-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 0 3rem 2rem;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.main-intro-text h1 {
    margin-bottom: 3rem;
    font-size: 200%;
}

.free-estimate {
    width: 100%;
    background-color: rgba(27, 89, 55, 1);
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 2.5rem;
    margin: 2rem 0;
    align-items: center;
    font-size: 2rem;
    box-shadow: 0 5px 5px #252525;
}

.call-button {
    background-color: #094a80;
    color: #FBFAF5;
    letter-spacing: 1px;
    text-decoration: none;
    display: flex;
    border-radius: 0 1.875rem 1.875rem 1.875rem;
    border: 0.5px solid #FBFAF5;
    width: 90px;
    height: 40px;
    min-height: 30px;
    min-width: 120px;
    font-size: 1.2rem;
    font-weight: 500;
    align-items: center;
    justify-content: center;
}


.call-button:hover {
    background-color: #094a80;
    cursor: pointer;
}

.main-why-container {
    display: flex;
   flex-direction: row;
   justify-content: space-between;
    max-width: 1400px;
    margin: auto;
    padding: 2rem;
}
.main-why-photo {
    display: flex;
    flex-shrink: 2;
    align-self: center;
    width: 96%;
    margin-top: 4rem;
    max-width: 600px;
    border-radius: 0.3215rem 0.3215rem 0.3215rem 0.3215rem;
    height: 100%;
    box-shadow: -10px -10px #094a80;
 }

 #choose-us-photo {
    width: 100%;
    border-radius: 0.3215rem 0.3125rem 0.3215rem 0.3125rem;

 }

 .main-why-text {
    display: flex;
    flex-wrap: wrap;
    padding-right: 2rem;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-size: 1rem;
}
.main-why-text h1 {
    margin-bottom: 3rem;
    font-size: 200%;
}
.nav-item {
    list-style: none;
    margin-right: 1rem;
   
}

.nav-item a {
    text-decoration: none;
    color: #094a80;
    transition: all 100ms ease;
}

.nav-item a:hover {
    color: #1b5937;
    opacity: 0.9;
    text-decoration: underline;
}



#logo {
    list-style: none;
    margin-right: auto;
    margin-left: .2rem;
   
}

.close-hamburger-menu {
    display: none;
}

.main-reviews-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.main-reviews-heading {
    letter-spacing: 1px;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-reviews-heading h2 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #252525;
    letter-spacing: 2px;
}

.badge-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    width: 100%;
    padding: 2rem;
    margin: 2rem 0;
    white-space: nowrap;
}

.badge {
    margin: 0 10px;
    padding: 1rem;
    height: inherit;
    min-height: 50px;
    width: auto;
    
}

.main-reviews-heading h1 {
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #1b5937;
    border-radius: 0 1.875rem 1.875rem 1.875rem;
    color: #ffffff;
    padding: 10px 20px;
}

.reviews-box-containers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1400px;
}

.reviews-box {
    width: 500px;
    min-height: 300px;
    max-height: fit-content;
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
    box-shadow: 3px 3px 8px 1px;
}

.name-first-letter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    background-color: green;
    color: #ffffff;
}

.reviews {
    color: #f9d71c;
}

.name-user strong {
    color: #727272;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comments {
    font-size: 0.9rem;
    color: #4b4b4b;
}

.reviews-box:hover {
    transform: translateY(-10px);
    transition: all ease 0.3s;
    box-shadow: 8px 8px 8px 1px;
}

.more-reviews {
    padding: 4rem;
}
.reviews-button {
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 500;
    background-color: #1b5937;
    border-radius: 0 1.875rem 1.875rem 1.875rem;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

.reviews-button:hover {
    transition: all ease 0.3s;
    background-color: #094a80;
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

.container {
    padding: 2rem;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: scroll;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75 hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    width: 100%
}
.slider  img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    width: 100%;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #1b5937;
    opacity: 0.75;
    transition: transform ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}



/* media queries for responsiveness*/


@media screen and (max-width: 1200px) {
    .main-intro-container,
    .main-why-container {
      flex-direction: column; /* Stack items vertically on smaller screens */
    }

    .main-intro-container {
        flex-direction: column-reverse;
    }

    .main-intro-text,
    .main-why-text {
        padding: 0;
        padding-bottom: 2rem;
    }
  
    .main-why-container {
        margin-top: 0;
    }

    .main-intro-photo,
    .main-intro-text,
    .main-why-photo,
    .main-why-text {
      width: 100%; /* Full width for both photo and text on smaller screens */
      max-width: 100%; /* Ensure the elements take the full width */
      margin-bottom: 2rem; /* Add some spacing between photo and text */
    }

    .main-heading {
        width: 100%;
        order: -1;
    }
  }
  
  /* Adjustments for even smaller screens */
  @media screen and (max-width: 700px) {
    .main-intro-container,
    .main-why-container {
      padding: 0 1rem; /* Adjust padding for better spacing */
    }
  }

@media(max-width:1200px){
    .reviews-box{
        width: 45%;
        padding: 10px;
    }
}

@media(max-width: 1000px){
    .badge-section {
        flex-wrap: wrap;
        height:auto;
    }
    .badge {
        height: 200px;
        width: auto;
    }
}
@media(max-width:700px){
    .reviews-box{
        width: 100%;
        max-height: fit-content;
    }


    .hamburger-icon {
        width: 40px;
        height: 25px;
        position: fixed;
        top: 40px;
        right: 20px;
    }

    .hamburger-icon::before,
    .hamburger-icon::after {
        content: '';
        display: inline-block;
        height: 2px;
        width: 70%;
        position: absolute;
        left: 15%;
        top: 50%;
        transition: 
        transform 0.2s ease,
        top 0.2s ease;
        background: #1b5937;
        transform: translateY(-50%);
    }
    .hamburger-icon::before {
        top: 30%;
    }

    .hamburger-icon::after {
        top: 70%;
    }

    .hamburger-icon.rotate::before {
        top: 50%;
        transform: rotate(30deg) translateY(-50%);
    }

    .hamburger-icon.rotate::after {
        top: 50%;
        transform: rotate(-30deg) translateY(-50%);
        
    }

    .nav-list {
        display: none;
        position: absolute;
        right: 0;
        top: 100%;
        background: #fff;
        opacity: 0.95;
        flex-direction: column;
        z-index: 1;
        border-radius: 3px;
        padding: 5px 0;
        box-shadow: 0 0 10px #222;
        text-align: center;
        min-width: 125px;
    }

    .hamburger-menu.active .nav-list {
        display: flex;
        width: 100vw;
        height: 100vh;
        right: 0px;
        top: 0px;
        align-items: center;
        justify-content: center;
        font-size: 5vw;
    }

    .hamburger-menu.active .nav-item {
        margin: 3vh 0;
        width: 50vw;
    }

    .close-hamburger-menu {
        display: none;
        position:fixed;
        bottom: 5vh;
        left: 48%;
        transform: translateY(-50%);
        color: #094a80;
        background: none;
        font-size: 2em;
        z-index: 1000;
        border: none;
    }
    .hamburger-menu.active .close-hamburger-menu {
        display: inline-block;
        cursor: pointer;
        
    }
 
}


@media(max-width: 485px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
}


::selection{
    color:#fff;
    background-color: #252525;
}

