* {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.main-reviews-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.main-reviews-heading {
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-reviews-heading h2 {
    font-size: 1.2rem;
    font-weight: 200;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.main-reviews-heading h1 {
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #202020;
    color: #ffffff;
    padding: 10px 20px;
}
.reviews-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.reviews-box {
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}