* {
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.main-reviews-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.main-reviews-heading {
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-reviews-heading h2 {
    font-size: 1.2rem;
    font-weight: 200;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.main-reviews-heading h1 {
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #202020;
    color: #ffffff;
    padding: 10px 20px;
}
.reviews-box-containers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.reviews-box {
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
    box-shadow: 3px 3px 8px 1px;
}

.name-first-letter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    background-color: green;
    color: #ffffff;
}

.reviews {
    color: #f9d71c;
}

.name-user strong {
    color: #727272;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comments {
    font-size: 0.9rem;
    color: #4b4b4b;
}

.reviews-box:hover {
    transform: translateY(-10px);
    transition: all ease 0.3s;
    box-shadow: 8px 8px 8px 1px;
}
/* media queries for responsiveness*/

@media(max-width:1200px){
    .reviews-box{
        width: 45%;
        padding: 10px;
    }
}
@media(max-width:700px){
    .reviews-box{
        width: 100%;
    }
}

@media(max-width: 340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
}

::selection{
    color:#ffffff;
    background-color: #252525;
}